.foto img {
    border-radius: 50%; /* Cria um círculo perfeito */
    width: 300px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 300px; /* Ajuste o tamanho da imagem conforme necessário */
    object-fit: cover; /* Faz a imagem preencher o espaço sem distorcer */
    margin-top: 100px;
    margin-left: 100px;
    cursor: pointer;
    transition: transform 0.5s ease; /* Define a transição suave para o zoom */

  }
  .foto img:hover{
    transform: scale(1.1); /* Aumenta a imagem quando o mouse passa por cima */
  }

  
 .My-Project{
    background-color: rgb(255, 255, 255);
    margin-top: 200px;
    align-items: center;
    width: 100%;
    margin-left: -8px;
    height: 407px;
 }
 .container-div img{
    margin-top: 15px;
    margin-left: -60px;
 }
 