.bx{
    color: white;
}
.icons{
    margin-top: 50px;
    position: absolute;
}
.icons i {
    font-size: 40px;
    display: flex;
    color: white;
    margin-left: 1350px;
    margin-top: -120px;
}
.icons a{
    color: transparent;
}

.function-view i {
    font-size: 120px;
    display: flex;;
    margin-left: 20px;
    margin-bottom: 15px;
    color: #ffffff;
}
